@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
  padding:0;
  box-sizing:border-box;
font-family: 'Times New Roman', Times, serif;
scroll-behavior: smooth;
letter-spacing: .8px;

}
body{
    background-color: #111111;
    background-image:
        linear-gradient(#1c1b1b 1px, transparent 1px),
        linear-gradient(90deg, #1c1b1b 1px, transparent 1px);
        background-size: 40px 40px;
        padding-top: 80px;
}
button{
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background: rgba(13, 13, 13, 0.15);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     z-index: 9999;
    color: white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  
}

.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-section h2{
  margin:0;
  font-size:24px;
  background: linear-gradient(135deg, #fa6807, #1e1e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}

.navbar ul{
 display:flex;
  align-items:center;
  gap:40px;
  list-style:none;
  margin-left:auto;
  margin-right:40px;
}

.navbar ul li{
  cursor:pointer;
  transition:0.3s;
  font-size: 20px;
  
}

.navbar ul li:hover{
  color:#ff6600;
}

.navbar img{
  width:60px;
  height:60px;
  border-radius:50%;
  object-fit:cover;
  transition:transform 0.3s ease;
}

.navbar img:hover{
  transform:scale(1.05);
}
.navbar button{
  padding:12px 25px;
  background: linear-gradient(135deg, #ff6600, #ff8c42);
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
width: 180px;
height: 50px;
  box-shadow: 0 4px 15px rgba(255, 102, 0, 0.4);
  transition: all 0.3s ease;
}

.navbar button:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 102, 0, 0.6);
}

.navbar button:active{
  transform: scale(0.98);
}
.hero {
   
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assets/back1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:left;
  color:white;
    text-align: center;
    
}



.hero h1 {
    color:white;
    font-size: 75px;
   text-shadow:
        0 0 5px #ff6b00,
        0 0 10px #ff6b00,
        0 0 20px #ff6b00,
        0 0 40px #ff6b00,
        0 0 80px #ff6b00,
        0 0 120px #ff6b00;
        animation: slideLeft 2s ease-out;
        font-family: 'Playfair Display', serif;
}



@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero p{
  margin:20px 0;
  font-size:25px;
  background: linear-gradient(135deg, #ffffff, #f23f03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
  animation: slideLeft 3s ease-out;
  font-family: 'Poppins', sans-serif;
}


.about h2{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0; 
  background: linear-gradient(135deg, #fa6807, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.about{
  padding:60px;
  text-align:center;
 justify-content: center;
  color: white;
  
  
  }
.about p{
  font-size: 20px;
  line-height: 30px;
  gap: 10px;
  text-align: center;
  margin: 50px 100px 100px 50px;

}
.features{
  padding:80px 50px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
  
}
.feahead{
 text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0; 
  color: white;

}


.card{
  background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  transition:all 0.3s ease;
  overflow:hidden;
  color: white;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 25px rgba(255,102,0,0.5);
}

.card:hover img{
  transform:scale(1.1);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:15px;
  transition:transform 0.4s ease;
}

.cardtext{
    padding: 10px;
    margin-top: 10px;
}
.cardtext h3{
    text-align: center;
    padding: 10px;
    color: #ff6600;
}
.cardtext p{
    line-height: 25px;
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.trainer-second{
  text-align: center;
  background: linear-gradient(135deg, #000000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 50px;
  font-size: 2.5rem;
  margin-bottom: 50px;
  
}

.trainer-card{
    width: 80%;
  max-width: 1200px;
  margin: 80px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  padding: 40px;
  border-radius: 20px;

 background: linear-gradient(135deg, #000000, #c9c8c8);
    backdrop-filter: blur(20px);
  color: white;

  overflow: hidden;
}
.trainer-content{
  flex:1;
  text-align: left;
  animation: slideLeft1 1s ease;
  
}
.trainer-content h2{
  font-size: 30px;
  color: #fa6600;
  }
.trainer-content h3{
  font-size: 17px;
  background: linear-gradient(135deg, #060606, #f23f03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 5px;

}
.trainer-content p{
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  text-align: left;
  max-width: 300px;
  letter-spacing: 1.2px;
}
@keyframes slideLeft1{
  from{
    opacity:0;
    transform:translateX(100px);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}
.trainer-image img{
  animation: fadeIn 1s ease;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}
.progress-bar{
  height:4px;
  background:#ff6600;
  animation:progress 4s linear infinite;
}

@keyframes progress{
  from{
    width:0;
  }
  to{
    width:100%;
  }
}
.trainer-image{
  flex:1;
}
.trainer-image img{
  width:100%;
  max-width:450px;
  height:350px;
  object-fit:cover;
  border-radius:20px;
}


.contact{
    width: 100%;
  height: 100vh;
  }
.img-box{
    width: 60%;
  height: 70vh;

  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/professional.jpeg") no-repeat center center/cover;

  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  margin-right: 600px;
}
.contact h3{
   text-align: center;
  font-size: 50px;
  font-weight: 900;
   
  background: linear-gradient(135deg, #fa6807, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Playfair Display', serif;
}
.overlay{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 30px;
}
.form-box{
  width: 400px;
  height: 450px;
  background: rgba(0,0,0,0.85);
  padding: 30px;
  color: white;
  margin-left: 800px;
  margin-top: -50px;
}
.form-box h2{
  color:#ff6b00;
  font-size: 32px;
  margin-bottom: 20px;
}
.row{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
input, textarea{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  color: white;
  outline: none;
}
textarea{
  margin-top: 20px;
  height: 100px;
}
button{
  margin-top: 40px;
  padding: 12px;
  width: 100%;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: white;
  color: black;
}
.footer{
    background: rgba(13, 13, 13, 0.15);
    backdrop-filter: blur(20px);
    color: #fff;
    padding-top: 60px;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 30px;
}

.footer-box{
    flex: 1;
    min-width: 250px;
}

.footer-box h3{
   color:#ff6600;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.footer-box p,
.footer-box li{
    color: #ccc;
    line-height: 1.8;
    text-align: center;
}

.footer-box ul{
    list-style: none;
}

.footer-box ul li a{
    text-decoration: none;
    color: #ccc;
    transition: .3s;
}

.footer-box ul li a:hover{
    color:#ff6600;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid #333;
    padding: 20px;
    margin-top: 40px;
    color:#ff6600;
}
.footer-logo{
  text-align: center;
  padding: 15px;
  
}
.footer-logo i{
  gap: 20px;
  font-size: 20px;
  color:#ff6600;
  margin: 5px;
}
a{
    text-decoration: none; 
    color: white;          
    transition: 0.3s;

}
a:hover{
    color:#ff6600;
}
/* fees mangement page */
.fees-mang{
 padding:80px 50px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px; 
}
.second{
  text-align: center;
  background: linear-gradient(135deg, #fa6807, #fbfaf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 200px;
  font-size: 2.5rem;
  margin-bottom: 40px;
  animation: slideLeft 1.5s ease-out;
}
.fee-card{
  background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  transition:all 0.3s ease;
  overflow:hidden;
   min-height:450px;
   display:flex;
  flex-direction:column;
  color: white;
}

.fee-card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 25px rgba(255,102,0,0.5);
}

.fee-card:hover img{
  transform:scale(1.1);
}

.fee-card:hover img{
  transform:scale(1.1);
}

.fee-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:15px;
  transition:transform 0.4s ease;
}

.fee-cardtext{
    padding: 10px;
    margin-top: 10px;
}
.fee-cardtext h2{
  text-align: center;
  font-size: 30px;
  color: #ff6600;
}
.fee-cardtext h3{
  text-align: center;
  font-size: 15px;
  padding: 10px;
background: linear-gradient(135deg, #fdfdfd, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.fee-cardtext ul{
  padding: 10px;
  list-style: none;
}
.fee-cardtext ul li{
line-height: 40px;
}
.fee-card button{
  margin-top:auto;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#ff6600;
  color:white;
  cursor:pointer;
}
.membership-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:9999;
}

.membership-card{
  position:relative;
  width:450px;
  padding:30px;
  border-radius:20px;

  background:#111;
  color:white;
line-height: 40px;
  text-align:center;

  box-shadow:0 0 25px rgba(255,102,0,0.4);
}

.close-btn{
  position:absolute;
  top:15px;
  right:15px;

  background:none;
  border:none;

  color:white;
  font-size:22px;
  cursor:pointer;
}

.close-btn:hover{
  color:#ff6600;
}

.renew-btn{
  margin-top:15px;
  width:100%;
  padding:12px;

  border:none;
  border-radius:10px;

  background:#ff6600;
  color:white;
  cursor:pointer;
}
/* Attendance page */
.attendance-overlay{
  position:fixed;
  inset:0;
  
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.attendance-popup{
  width:400px;
  background:#111;
  color:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
  border:1px solid rgba(255,102,0,0.3);
  box-shadow:0 0 30px rgba(255,102,0,0.4);
  animation:popup .4s ease;
}

.attendance-popup h2{
  color:#ff6600;
  margin-bottom:20px;
}

.attendance-info{
  background:#1b1b1b;
  padding:15px;
  border-radius:10px;
  margin:20px 0;
}
.attendance-info p{
  padding: 10px;
}
.attendance-popup button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#ff6600;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.attendance-popup button:hover{
  background:#ff7f2a;
}

.success{
  color:#4caf50;
  font-weight:bold;
}

@keyframes popup{
  from{
    opacity:0;
    transform:scale(0.8);
  }
  to{
    opacity:1;
    transform:scale(1);
  }
}
.attendance-report {
  margin-top: 120px;
  color: #fff;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.attendance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.attendance-header h2{
  text-align: center;
  background: linear-gradient(135deg, #fa6807, #fbfaf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 50px;
  font-size: 2.5rem;
  animation: slideLeft 1.5s ease-out;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
font-weight: 800;

}


.date-box,
.week-select {
  background: #151515;
  color: #fff;
  border: 1px solid #333;
  padding: 12px 18px;
  border-radius: 8px;
}


.report-grid {
  display:grid;
    grid-template-columns:280px 1fr 390px;
    gap:20px;
    align-items:start;
}

.metric-box{
  background: linear-gradient(145deg, #1b1b1b, #101010);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.45);
}

.calendar-card{
  background: linear-gradient(145deg, #1b1b1b, #101010);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.45);
  padding: 20px;
  border: 1px solid #ff6a00;
  box-shadow: 0 0 18px rgba(255, 102, 0, 0.25);
  width: 600px;
  margin-left: 60px;
}
.chart-card {
  background: linear-gradient(145deg, #1b1b1b, #101010);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.45);

  width: 100%;
  max-width: 390px;
  min-height: 400px;

  padding: 22px;
  display: flex;
  flex-direction: column;
}

.metric-box {
  padding: 18px;
  margin-bottom: 12px;
  width: 250px;
}

.metric-box h4{
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: #ff6600;
}
.calendar-card h3{
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: #ff6600;
}
.chart-card h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: #ff6600;
}
.chart-card h4{
  margin-bottom: 30px;
}

.metric-box p {
  color: #bbb;
  margin: 0;
}

.metric-box h2 {
  font-size: 32px;
  margin: 4px 0;
}





.calendar-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.calendar-card h4{
  margin-bottom: 20px;
  
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  text-align: center;
}

.day-name {
  color: #aaa;
  font-size: 13px;
}

.day {
  color: #fff;
  font-size: 14px;
  position: relative;
}

.day::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #ff0000;
  border-radius: 50%;
  display: block;
  margin: 5px auto 0;
}

.today {
  background: #ff6a00;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
}
.present-day::after {
  content: "";
  width: 6px;
  height: 6px;
  background: green;
  border-radius: 50%;
  display: block;
  margin: 5px auto 0;
  
}



.bar-chart {
  display: flex;
  align-items: end;
  gap: 22px;
  height: 180px;
  border-bottom: 1px solid #333;
}

.bar {
  width: 36px;
  background: linear-gradient(to top, #ff4d00, #ffb347);
  border-radius: 8px 8px 0 0;
  position: relative;
}

.bar span {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
.legend{
  padding: 20px;
}
.bar-wrap{
  padding: 10px;
  
}

.workout-section{
padding:80px 50px;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
      gap:25px;
      margin-top: 100px;

}

.workout-section h2{
  text-align: center;
  background: linear-gradient(135deg, #fa6807, #fbfaf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 0px;
  font-size: 2.5rem;
  margin-bottom: 100px;
  animation: slideLeft 1.5s ease-out;
  font-family: 'Playfair Display', serif;
}
.exercise-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
  gap:25px;
  
}

.exercise-card{
 background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  transition:all 0.3s ease;
  overflow:hidden;
   min-height:450px;
   display:flex;
  flex-direction:column;
  color: white;
  
}
.exercise-card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 25px rgba(255,102,0,0.5);
}

.exercise-card:hover img{
  transform:scale(1.1);
}

.exercise-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:15px;
  transition:transform 0.4s ease;
}

.exercise-card h3{
  padding:20px;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 102, 0);
}
.exercise-card button{
    margin-top:auto;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#ff6600;
  color:white;
  cursor:pointer;
  width: 100px;
  

}

.exercise-card p{
  padding:0 10px 15px;
  line-height: 25px;
  font-size: 16px;
}
.gender-select{
  
    padding: 12px 0;
   background: linear-gradient(135deg, #ff6600, #ff8c42);
    backdrop-filter: blur(20px);
    border: none;
    border-bottom: 1px solid #777;
    color: #000000;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.activity-card p{
padding:0 10px 15px;
    font-size: 20px;
  color: white;
  text-align: center;
}
.alert-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.alert-card{
  width: 350px;
  color: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
   background:rgba(60, 60, 60, 0.7);
   backdrop-filter:blur(20px);
}

.alert-card h3{
  margin-bottom: 10px;
  padding: 10px;
  color: #ff6600;
}

.alert-card p{
  margin-bottom: 20px;
  padding-top: 10px;
  line-height: 30px;
}

.alert-card button{
  padding: 10px 25px;
  border: none;
  border-radius: 6px ;
  background:#ff6600;
  color: white;
  cursor: pointer;
}
.alert-card img{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:50%;
}
.warning{
  background: rgba(255, 102, 0, 0.15);
  color: #ff6600;
  border: 1px solid #ff6600;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 150px;
  margin: 15px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 15px rgba(255,102,0,0.2);
  animation: pulseWarning 1.5s infinite;
}

@keyframes pulseWarning{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.02);
  }
  100%{
    transform: scale(1);
  }
}