*{
    margin:0;
  padding:0;
  box-sizing:border-box;
font-family: 'Times New Roman', Times, serif;
scroll-behavior: smooth;

}
body{
    background-color: #111111;
    background-image:
        linear-gradient(#1c1b1b 1px, transparent 1px),
        linear-gradient(90deg, #1c1b1b 1px, transparent 1px);
        background-size: 40px 40px;
}


.navbar{
  background: rgba(13, 13, 13, 0.15);
    backdrop-filter: blur(100px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    color: white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  
}

.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-section h2{
  margin:0;
  font-size:24px;
  
}

.navbar ul{
  display:flex;
  list-style:none;
  gap:30px;
  margin:0;
  padding:0;
}

.navbar ul li{
  cursor:pointer;
  transition:0.3s;
  font-size: 20px;
  
}

.navbar ul li:hover{
  color:#ff6600;
}

.navbar img{
  width:60px;
  height:60px;
  border-radius:50%;
  object-fit:cover;
  transition:transform 0.3s ease;
}

.navbar img:hover{
  transform:scale(1.05);
}
.navbar button{
    padding:12px 30px;
  border:none;
  background:#ff6600;
  color:white;
  border-radius:5px;
  cursor:pointer;

}

.hero {
   
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assets/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:left;
  color:white;
    text-align: center;
}



.hero h1 {
    color:white;
    font-size: 75px;
   text-shadow:
        0 0 5px #ff6b00,
        0 0 10px #ff6b00,
        0 0 20px #ff6b00,
        0 0 40px #ff6b00,
        0 0 80px #ff6b00,
        0 0 120px #ff6b00;
        animation: slideLeft 2s ease-out;
}



@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero p{
  margin:20px 0;
  font-size:25px;
  color: white;
  
  animation: slideLeft 3s ease-out;
}


.about h2{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0; 
  color: white;
}
.about{
  padding:60px;
  text-align:center;
 justify-content: center;
  color: white;
  
  
  }
.about p{
  font-size: 20px;
  line-height: 30px;
  gap: 10px;
  text-align: center;
  margin: 50px 100px 100px 50px;

}
.features{
  padding:80px 50px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
  
}
.feahead{
 text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0; 
  color: white;

}


.card{
  background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  transition:all 0.3s ease;
  overflow:hidden;
  color: white;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 25px rgba(255,102,0,0.5);
}

.card:hover img{
  transform:scale(1.1);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:15px;
  transition:transform 0.4s ease;
}

.cardtext{
    padding: 10px;
    margin-top: 10px;
}
.cardtext h3{
    text-align: center;
    padding: 10px;
}
.cardtext p{
    line-height: 25px;
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.contact{
    width: 100%;
  height: 100vh;
  }
.img-box{
    width: 60%;
  height: 70vh;

  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/professional.jpeg") no-repeat center center/cover;

  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  margin-right: 600px;
}
.contact h3{
   text-align: center;
  font-size: 50px;
  font-weight: 900;
   
  color: white;
}
.overlay{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 30px;
}
.form-box{
  width: 400px;
  height: 450px;
  background: rgba(0,0,0,0.85);
  padding: 30px;
  color: white;
  margin-left: 800px;
  margin-top: -50px;
}
.form-box h2{
  color:#ff6b00;
  font-size: 32px;
  margin-bottom: 20px;
}
.row{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
input, textarea{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  color: white;
  outline: none;
}
textarea{
  margin-top: 20px;
  height: 100px;
}
button{
  margin-top: 40px;
  padding: 12px;
  width: 100%;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: white;
  color: black;
}
.footer{
    background: rgba(13, 13, 13, 0.15);
    backdrop-filter: blur(20px);
    color: #fff;
    padding-top: 60px;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 30px;
}

.footer-box{
    flex: 1;
    min-width: 250px;
}

.footer-box h3{
   color:#ff6600;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.footer-box p,
.footer-box li{
    color: #ccc;
    line-height: 1.8;
    text-align: center;
}

.footer-box ul{
    list-style: none;
}

.footer-box ul li a{
    text-decoration: none;
    color: #ccc;
    transition: .3s;
}

.footer-box ul li a:hover{
    color:#ff6600;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid #333;
    padding: 20px;
    margin-top: 40px;
    color:#ff6600;
}
a{
    text-decoration: none; 
    color: white;          
    transition: 0.3s;

}
a:hover{
    color:#ff6600;
}